## systemd unit file for dirveRover_wugc.py service
## V1.0, Februaary 2023

## For system-wide service:
# Find the service units directlry with: pkg-config systemd --variable=systemdsystemunitdir, e.g. /lib/systemd/system
# sudo cp driverover.service.user /lib/systemd/system/driverover.service 
# chmod 644 .../systemd/driverover.service

## For user service (rover LEDs cannot be used!): 
# cp driverover.service.user $HOME/.config/systemd/user/driverover.service 
# chmod 644 $HOME/.config/systemd/user/driverover.service

## For user service, requires:
# sudo apt-get install libpam-systemd
# sudo loginctl enable-linger username
# sudo reboot

## Useful commands (user service):
# systemd-analyze verify --user driverover.service
# systemctl --user enable driverover
# systemctl --user daemon-reload
# systemctl --user stop driverover
# systemctl --user start driverover
# systemctl --user status driverover
# journalctl --user -xe


## References:
# https://wiki.archlinux.org/index.php/Systemd/User#How_it_works 
# http://www.raspberrypi-spy.co.uk/2015/10/how-to-autorun-a-python-script-on-boot-using-systemd/
# http://askubuntu.com/questions/676007/how-do-i-make-my-systemd-service-run-via-specific-user-and-start-on-boot
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html
# https://www.freedesktop.org/software/systemd/man/systemd.service.html
# https://wiki.archlinux.org/index.php/systemd

[Unit]
Description=4tronix M.A.R.S. Rover Robot remote control service using PiHut Wireless USB Game Controller
Documentation="https://github.com/istvanzk/rover_wugc" "file:/home/pi/rover_wugc/driveRover_wugc.py"
After=network-online.target
#StartLimitIntervalSec=30
#StartLimitBurst=1

[Service]
Type=notify
NotifyAccess=all
WatchdogSec=15
TimeoutStartSec=70
ExecStart=/usr/bin/python3 /home/pi/rover_wugc/driveRover_wugc.py
WorkingDirectory=/home/pi/rover_wugc
Restart=on-watchdog

[Install]
WantedBy=default.target
