## systemd unit file for clean shutdown/poweroff service triggerd by battery sesnsing
## V1.0, September 2023

## For system-wide service:
# Find the service units directly with: pkg-config systemd --variable=systemdsystemunitdir, e.g. /lib/systemd/system
# sudo cp battsd.service /lib/systemd/system/battsd.service 
# chmod 644 .../systemd/battsd.service

## Useful commands (run with sudo):
# systemd-analyze verify battsd.service
# systemctl enable battsd
# systemctl daemon-reload
# systemctl stop battsd
# systemctl start battsd
# systemctl status battsd
# journalctl -xe -u battsd
# journalctl -xe -n 20 -u battsd


## References:
# https://wiki.archlinux.org/index.php/Systemd/User#How_it_works 
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html
# https://www.freedesktop.org/software/systemd/man/systemd.service.html
# https://wiki.archlinux.org/index.php/systemd

[Unit]
Description=4tronix M.A.R.S. Rover Robot poweroff service
Documentation="https://github.com/istvanzk/rover_wugc" "file:/home/pi/rover_wugc/scripts/battsd.sh"
After=multi-user.target

[Service]
Type=exec
ExecStart=/home/pi/rover_wugc/scripts/battsd.sh
WorkingDirectory=/home/pi/rover_wugc/scripts
#ExitType=main
Restart=always

[Install]
WantedBy=default.target
